<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151680267-1"></script>
    <script>
      var host = location.host;
      var local = host.includes('127.0.0.1') || host.includes('localhost');
      if (!local) {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-151680267-1');
      }
    </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% seo %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon-16x16.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/apple-touch-icon.png" | relative_url }}">

  <!-- RSS -->
  {% feed_meta %}

  <!-- Google Analytics-->
  {% if site.google_analytics and jekyll.environment == 'production' %}
      {% include analytics.html %}
      <meta environment="production">
  {% else %}
      <meta environment="local">
  {% endif %}

    <!-- internacionalização -->
    {% if page.layout != 'index' %}
      {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
      {% if posts.size == 0 %}
        {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
      {% endif %}
      {% if posts.size > 1 %}
        {% for post in posts %}
      <link rel="alternate" hreflang="{{post.lang}}" href="{{ site.base-url }}/devops{{ post.url }}" />
        {% endfor %}
      {% endif %}
    {% endif %}
</head>
