<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h1 class="nav-title">{{ site.title }}</h1>
    </a>
    <ul>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
      <li><a href="{{ '/publications' | prepend: site.baseurl }}">Publications</a></li>
      <li><a href="{{ '/educational-resources' | prepend: site.baseurl }}">Educational resources</a></li>
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
    </ul>
  
    <hr />
    <a href="https://www.casadocodigo.com.br/products/livro-como-se-faz-devops" target="_blank"><img src="{{ site.baseurl }}/assets/figures/capa-livro-devops-banner.jpg" alt="Ours book cover"/></a>
    <a href="https://www.casadocodigo.com.br/products/livro-como-se-faz-devops" target="_blank">Our book! 👆</a>
  </div>
</nav>
