---
layout: default
lang: en
---

<img src="{{ site.baseurl }}/assets/figures/banner.png" />

<p>
<i>Department of Computer Science</i> <br/>
<i>Institute of Mathematics and Statistics (IME)</i> <br/>
<i>University of São Paulo (USP) - Brazil</i> <br/>
</p>

<p>We are interested in the DevOps movement and its consequences for the software industry.</p>

<div class="catalogue">
  {% assign posts_to_show = paginator.posts | where: "lang", "en" | where_exp: "post", "post.hiden != true" %}
  {% for post in posts_to_show %}
    <a href="{{ post.url | prepend: site.baseurl }}.html" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h2 class="catalogue-title">{{ post.title }}</h2>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 30 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
