---
layout: default
---

<div class="post" lang="{{ page.lang }}">
  <div class="post-info">
    {% if page.lang == 'pt-br' or page.lang == 'pt' %}
        <span>Escrito por</span>
    {% else %}
        <span>Written by</span>
    {% endif %}


    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
        {% if page.lang == 'pt-br' or page.lang == 'pt' %}
            <span>em&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%d/%m/%Y" }}</time>
        {% else %}
            <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
        {% endif %}
    {% endif %}
  </div>

  <h2 class="post-title">{{ page.title }}</h2>
  <div class="post-line"></div>

    {% if page.layout != 'home' %}
        {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
        {% if posts.size == 0 %}
            {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
        {% endif %}
        {% if posts.size > 1 %}
            <section id="languages">
            {% for post in posts %}
            <a href="{{ site.baseurl }}{{ post.url }}.html" class="{{ post.lang }} title="{{ site.data.translations['viewIn'][post.lang] }} {{site.data.languages[post.lang].label}}">{{ site.data.languages[post.lang].icon }}</a>
            {% endfor %}
            </section>
        {% endif %}
    {% endif %}
  {{ content }}
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow" title="Post anterior">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow" title="Próximo post">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
