---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

.button {
  font-family: Sans-Serif;
  font-weight: bolder;
  color: #000;
  background-color: #d3dbd4;
  padding: 12px;
  border: 3px solid #000;
}
